extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='POST', action='')
    #form-group 
      label Date:
      input.form-control(name='Date', type='number')
    #form-group 
      label Month:
      input.form-control(name='Month', type='text')
    #form-group 
      label Time:
      input.form-control(name='Time', type='number')
    #form-group 
      label Event Description:
      textarea.form-control(name='EventDes')      
    input.btn.btn-primary(type='submit', value='Submit') 
  //- ul
  //-   each event in Event
  //-     li= event